*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row
{
    background-color: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    float: right;
    width: 100%;
    height: auto;

}

.container
{
    width: 280px;
    height: 48px;
    border-radius: 4px;
    outline: 2px solid rgba(0, 0, 0, .12);
    
}

.container *
{
    vertical-align: middle;
}

.container input
{
    margin: 0 16px 0 16px;
    background: none;
    height: 100%;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, .87);
}